@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #7738ef;
  --muted: #686874;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-muted: var(--muted);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-corner {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb:vertical {
  background: linear-gradient(180deg, #c084fc, #9333ea, #4c1d95);
  border-radius: 999px;
}
.custom-scroll::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(90deg, #c084fc, #9333ea, #4c1d95);
  border-radius: 999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #a97bff;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
